.AP {
    height: 600px;
    width: 800px;
    background-color: rgba(27, 27, 129, 0.55);
    margin-top: 25px;
    text-align: center;
    color: white;
    font-size: xx-large;
}

.Acontainer {
    background-image: url(../capstone1/img/rezaul-karim-102abqkKhbY-unsplash.png);
    background-position: center;
    background-size: 40%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.pp {
    text-align: center;
    color: white;
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: large;
    font-stretch: expanded;
    
}