.background-container {
    background-image: url(../capstone1/img/lala-miklos-qxstzQ__HMk-unsplash.png);
    background-size: cover;
    background-position: center;
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


.one {
    height: 300px;
    width: 300px;
    background-color: rgb(27, 27, 129);
    
}

.two {
    height: 300px;
    width: 300px;
    background-color: rgb(27, 27, 129);
    
    
}

.three {
    height: 300px;
    width: 300px;
    background-color: rgb(27, 27, 129);
}

.fbackground {
    background-image: url(../capstone1/img/lala-miklos-qxstzQ__HMk-unsplash.png);
    background-position: center;
    
}





